
.grid {
  margin-left: -25px;
  margin-right: -25px;
}

.grid [class*="col-"] {
  vertical-align: top;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* --- WIDTH --- */

.col-1-1 {
  width: 100%;
  float: none;
}

.col-1-2 {
  width: 50%;
  float: left;
}

.col-1-3 {
  width: 33.333333%;
  float: left;
}

.col-2-3 {
  width: 66.666666%;
  float: left;
}

.col-1-4 {
  width: 25%;
  float: left;
}

.col-2-4 {
  width: 50%;
  float: left;
}

.col-3-4 {
  width: 75%;
  float: left;
}


/* --- PUSH --- */

[class*="col-push-"] {
  position: relative;
}

.col-push-1-1 {
  left: 100%;
}

.col-push-1-2 {
  left: 50%;
}

.col-push-1-3 {
  left: 33.333333%;
}

.col-push-2-3 {
  left: 66.666666%;
}

.col-push-1-4 {
  left: 25%;
}

.col-push-2-4 {
  left: 50%;
}

.col-push-3-4 {
  left: 75%;
}


/* --- PULL --- */

[class*="col-pull-"] {
  position: relative;
}

.col-pull-1-1 {
  right: 100%;
}

.col-pull-1-2 {
  right: 50%;
}

.col-pull-1-3 {
  right: 33.333333%;
}

.col-pull-2-3 {
  right: 66.666666%;;
}

.col-pull-1-4 {
  right: 25%;
}

.col-pull-2-4 {
  right: 50%;
}

.col-pull-3-4 {
  right: 75%;
}


/* --- BREAKPOINTS --- */

.bp1-only-visible {
  display: none !important;
}

.bp2-only-visible {
  display: none !important;
}

.bp3-only-visible {
  display: none !important;
}

.bp1-visible,
.bp2-visible,
.bp3-visible {
  display: none !important;
}


/* BREAKPOINT 1 - 320px */

@media only screen and (min-width: 320px) {

  /* VISIBLE */

  .bp1-hidden {
    display: none !important;
  }

  .bp1-visible {
    display: inherit !important;
  }

  .bp1-only-hidden {
    display: none !important;
  }

  .bp2-only-hidden {
    display: inherit !important;
  }

  .bp3-only-hidden {
    display: inherit !important;
  }

  .bp1-only-visible {
    display: inherit !important;
  }

  .bp2-only-visible {
    display: none !important;
  }

  .bp3-only-visible {
    display: none !important;
  }

  /* WIDTH */

  .bp1-col-1-1 {
    width: 100%;
    float: none;
  }

  .bp1-col-1-2 {
    width: 50%;
    float: left;
  }

  .bp1-col-1-3 {
    width: 33.333333%;
    float: left;
  }

  .bp1-col-2-3 {
    width: 66.666666%;
    float: left;
  }

  .bp1-col-1-4 {
    width: 25%;
    float: left;
  }

  .bp1-col-2-4 {
    width: 50%;
    float: left;
  }

  .bp1-col-3-4 {
    width: 75%;
    float: left;
  }

  /* PUSH */

  [class*="bp1-col-push-"] {
    position: relative;
  }

  .bp1-col-push-1-1 {
    left: 100%;
  }

  .bp1-col-push-1-2 {
    left: 50%;
  }

  .bp1-col-push-1-3 {
    left: 33.333333%;
  }

  .bp1-col-push-2-3 {
    left: 66.666666%;
  }

  .bp1-col-push-1-4 {
    left: 25%;
  }

  .bp1-col-push-2-4 {
    left: 50%;
  }

  .bp1-col-push-3-4 {
    left: 75%;
  }

  /* PULL */

  [class*="bp1-col-pull-"] {
    position: relative;
  }

  .bp1-col-pull-1-1 {
    right: 100%;
  }

  .bp1-col-pull-1-2 {
    right: 50%;
  }

  .bp1-col-pull-1-3 {
    right: 33.333333%;
  }

  .bp1-col-pull-2-3 {
    right: 66.666666%;;
  }

  .bp1-col-pull-1-4 {
    right: 25%;
  }

  .bp1-col-pull-2-4 {
    right: 50%;
  }

  .bp1-col-pull-3-4 {
    right: 75%;
  }

}


/* BREAKPOINT 2 - 960px */

@media only screen and (min-width: 960px) {

  /* VISIBLE */

  .bp2-hidden {
    display: none !important;
  }

  .bp2-visible {
    display: inherit !important;
  }

  .bp1-only-hidden {
    display: inherit !important;
  }

  .bp2-only-hidden {
    display: none !important;
  }

  .bp3-only-hidden {
    display: inherit !important;
  }

  .bp1-only-visible {
    display: none !important;
  }

  .bp2-only-visible {
    display: inherit !important;
  }

  .bp3-only-visible {
    display: none !important;
  }

  /* WIDTH */

  .bp2-col-1-1 {
    width: 100%;
    float: none;
  }

  .bp2-col-1-2 {
    width: 50%;
    float: left;
  }

  .bp2-col-1-3 {
    width: 33.333333%;
    float: left;
  }

  .bp2-col-2-3 {
    width: 66.666666%;
    float: left;
  }

  .bp2-col-1-4 {
    width: 25%;
    float: left;
  }

  .bp2-col-2-4 {
    width: 50%;
    float: left;
  }

  .bp2-col-3-4 {
    width: 75%;
    float: left;
  }

  /* PUSH */

  [class*="bp1-col-push-"] {
    position: relative;
  }

  .bp2-col-push-1-1 {
    left: 100%;
  }

  .bp2-col-push-1-2 {
    left: 50%;
  }

  .bp2-col-push-1-3 {
    left: 33.333333%;
  }

  .bp2-col-push-2-3 {
    left: 66.666666%;
  }

  .bp2-col-push-1-4 {
    left: 25%;
  }

  .bp2-col-push-2-4 {
    left: 50%;
  }

  .bp2-col-push-3-4 {
    left: 75%;
  }

  /* PULL */

  [class*="bp1-col-pull-"] {
    position: relative;
  }

  .bp2-col-pull-1-1 {
    right: 100%;
  }

  .bp2-col-pull-1-2 {
    right: 50%;
  }

  .bp2-col-pull-1-3 {
    right: 33.333333%;
  }

  .bp2-col-pull-2-3 {
    right: 66.666666%;;
  }

  .bp2-col-pull-1-4 {
    right: 25%;
  }

  .bp2-col-pull-2-4 {
    right: 50%;
  }

  .bp2-col-pull-3-4 {
    right: 75%;
  }

}

