@import 'normalize';
@import 'grid';

@font-face {
	font-family: 'Aller';
	src: url('../fonts/Aller_Rg.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Signika';
	src: url('../fonts/Signika-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'Signika';
	src: url('../fonts/Signika-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Signika';
	src: url('../fonts/Signika-Semibold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'Signika';
	src: url('../fonts/Signika-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'League Spartan';
	src: url('../fonts/LeagueSpartan-Bold.otf') format('opentype');
	font-weight: 700;
}
		
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$red: #e8161b;

body {
	background-color: #eaf2f6;
	font-family: "Signika";

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;

		input {
			display: block;
			border: 0;
			width: 100%;
	    	box-sizing: border-box;
	   	 	-moz-box-sizing: border-box;
	    	-webkit-box-sizing: border-box;
		}

		.button {
			display: block;
			position: relative;
			text-align: center;
			appearance: none;
			-webkit-appearance: none;
		   -moz-appearance: none;
			background-color: $red;
			color: #ffffff;
			border: none;
			border-radius: 20px;
			text-decoration: none;

			.button-arrow {
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				padding-left: inherit;
			    padding-right: inherit;

			}

		}

		.header {
			background: url(../images/header-background.jpg);
			background-size: cover;
			background-position: center center;
			text-align: center;
			padding: 72px 25px 177px 25px;
			position: relative;
			margin: 0;
			overflow: auto;

			.main-logo {
				display: block;
				width: 270px;
				max-width: 100%;
				margin: 0 auto 50px auto;
				padding: 0;
			}

				.user-panel {
					position: relative;
					padding: 0;
				    margin-top: 10px;
					width: 161px;

					.login-icon {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						margin: auto auto;
						border-radius: 50%;
						border: 3px solid rgba(255, 255, 255, 0.12);
						max-width: 46px;
						z-index: 2;
					}

					.button-register {
						text-decoration: none;
						color: #ffffff;
						float: left;
					}

					.button-login {
						position: relative;
						font-size: 13.14px;
						font-weight: $font-bold;
						text-align: right;
						left: 3px;
						padding: 11px 20px 11px 0;
					}

				}

				.mobile-menu-icon {
					float: right;
					margin: 11px auto 0 auto;
					width: 35px;
					height: 35px;
					padding: 0;
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: .5s ease-in-out;
					-moz-transition: .5s ease-in-out;
					-o-transition: .5s ease-in-out;
					transition: .5s ease-in-out;
					cursor: pointer;

					span {
						display: block;
						position: absolute;
						height: 7px;
						width: 100%;
						background: #e8161b;
						border-radius: 20px;
						opacity: 1;
						left: 0;
						-webkit-transform: rotate(0deg);
						-moz-transform: rotate(0deg);
						-o-transform: rotate(0deg);
						transform: rotate(0deg);
						-webkit-transition: .25s ease-in-out;
						-moz-transition: .25s ease-in-out;
						-o-transition: .25s ease-in-out;
						transition: .25s ease-in-out;

						&:nth-child(1) {
							top: 0;
						}

						&:nth-child(2), &:nth-child(3) {
							top: 14px;
						}

						&:nth-child(4) {
							top: 28px;
						}

					}

					&.open {

						&:after {
							content: '';
							position: absolute;
							background: #000000;
							width: 100%;
							height: 100%;
							left: 0;
							padding-bottom: 10px;
							z-index: -1;
						}

						span {

							&:nth-child(1) {
								top: 14px;
								width: 0%;
								left: 50%;
							}

							&:nth-child(2) {
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
							}

							&:nth-child(3) {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
							}

							&:nth-child(4) {
								top: 14px;
								width: 0%;
								left: 50%;
							}

						}

					}

				}

				.search-box {
					position: relative;
				    padding: 0;
				    max-width: 371px;
				    float: right;
				    margin: 0 0 10px 0;

					input {
						background: #ffffff;
						max-width: 371px;
						height: 70px;
						line-height: 70px;
						border-radius: 20px;
						border: 10px solid rgba(255, 255, 255, 0.12);
						-webkit-background-clip: content-box;
	   					-moz-background-clip: content-box;
	       				background-clip: content-box;
	       				padding: 0;
					}

					.search-icon {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						padding-right: 30px;
						width: 18px;
						height: 18px;
						margin: auto;
					}

					input::-webkit-input-placeholder {
						color: #bdc1ca;
						font-size: 18px;
						font-weight: $font-regular;
						text-align: left;
						padding: 0 20px 0 30px;
					}

					input::-moz-placeholder {
						color: #bdc1ca;
						font-size: 18px;
						font-weight: $font-regular;
						text-align: left;
						padding: 0 20px 0 30px;
					}

					input:-ms-input-placeholder {
						color: #bdc1ca;
						font-size: 18px;
						font-weight: $font-regular;
						text-align: left;
						padding: 0 20px 0 30px;
					}

				}

				.user-panel-modal {
					position: fixed;
					color: #ffffff;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background: #ea171e;
					-webkit-transition: opacity 400ms ease-in;
					-moz-transition: opacity 400ms ease-in;
					transition: opacity 400ms ease-in;
					z-index: 99999;
					opacity: 0;
					pointer-events: none;
					padding: 40px;

					&:target {
						opacity: 1;
						pointer-events: auto;
					}

					h2 {
						margin: 0 0 173px 0;
						font-family: 'League Spartan';
						font-weight: $font-bold;
						font-size: 15.99px;
					} 				

					a {
						margin: 0;
						text-decoration: none;
						color: #880000;
					}

					input {
						background: #ffffff;
					    border-radius: 10px;
						max-width: 240px;
						height: 50px;
						line-height: 50px;
					}

					input[name="user-login"] {
						margin: 40px auto 20px auto;
					}

					input[name="user-pass"] {
						margin: 0 auto 10px auto;
					}

					input::-webkit-input-placeholder {
						color: #9faab6;
						font-size: 16px;
						font-weight: $font-regular;
						text-align: center;
					}

					input::-moz-placeholder {
						color: #9faab6;
						font-size: 16px;
						font-weight: $font-regular;
						text-align: center;
					}

					input:-ms-input-placeholder {
						color: #9faab6;
						font-size: 16px;
						font-weight: $font-regular;
						text-align: center;
					}

					.button-login {
						width: 100%;
						max-width: 240px;
						height: 40px;
						line-height: 40px;
						color: #ffffff;
						background: #ff2628;
						box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
						margin: 40px auto 10px auto;
					}

					.close-modal {
						display: block;
						position: absolute;
						top: 40px;
						width: 16px;
					    height: 16px;
						padding: 0;
						cursor: pointer;

						span {
							display: block;
							position: absolute;
							height: 17.64px;
							width: 5px;
							background: #ffffff;
							border-radius: 20px;
							opacity: 1;

							&:first-of-type {
								top: 14px;
								width: 0;
								left: 50%;
							}

							&:nth-child(2) {
								-webkit-transform: rotate(45deg);
								-moz-transform: rotate(45deg);
								-o-transform: rotate(45deg);
								transform: rotate(45deg);
							}

							&:last-of-type {
								-webkit-transform: rotate(-45deg);
								-moz-transform: rotate(-45deg);
								-o-transform: rotate(-45deg);
								transform: rotate(-45deg);
							}

						}

					}

				}

			.mobile-menu {
				display: none;
				background: #000000;
				padding: 0;
				clear: both;

				&.open {
					display: block;

					a {
						display: block;
						color: #ffffff;
						text-decoration: none;
					}
					
				}
			}
			
		}

		aside {
			margin-top: -122px;

			.slider {
				padding: 0;

				.slider-post {
					position: relative;
					background: url(../images/slider-big.jpg);
					background-size: cover;
					background-position: center center;
					width: 100%;
					height: 200px;
					border-radius: 20px;
					font-weight: $font-bold;

					.slider-post-title-box {
						display: table;
						position: absolute;
						bottom: 0;
						background: rgba(0, 0, 0, 0.8);
						height: 78px;
						width: 100%;

						.slider-post-title {
							display: table-cell;
							vertical-align: middle;
							font-size: 14px;
							font-weight: $font-bold;
							text-transform: uppercase;
							color: #ffffff;
							padding: 0 56px;
							margin: 0;
						}

					}

				}

				.owl-dots {
					position: absolute;
					top: 36px;
					right: 20px;

					.owl-dot {
						box-sizing: border-box;
					    -moz-box-sizing: border-box;
					    -webkit-box-sizing: border-box;
						display: block;
						width: 15px;
						height: 15px;
						border-radius: 100%;
						border: 2px solid #ffffff;
						background: transparent;
						margin: 0 0 10px 0;

						&.active {
							background: #ffffff;
						}

					}

				}

				.owl-nav {
					display: none;
					position: absolute;
				    top: 194px;
					left: 25px;
					right: 25px;

					.owl-prev {
						float: left;

						.arrow-left {
							height: 50px;
							width: 27px;
						}

					}

					.owl-next {
						float: right;

						.arrow-right {
							height: 50px;
							width: 27px;
						}

					}

				}

			}

			.top-selected-post {
				width: 37%;
			    height: 350px;
				float: right;
			}

			.selected-posts {
			    display: flex;
			    flex-direction: row;
			    flex-wrap: nowrap;
			    justify-content: center;
			    align-items: center;
			    align-content: space-between;
				width: 100%;
				z-index: 9999;
				height: 200px;
				margin-top: 50px;
				overflow: auto;

				.selected-post {
					position: relative;
					background: url(../images/slider-big.jpg);
					background-size: cover;
					background-position: center center;
					width: 100%;
					height: 200px;
					font-weight: $font-bold;
					// float: left;

					&.first-selected-post {
						border-top-left-radius: 20px;
					}

					&.middle-selected-post {
						margin: 0 5px;
					}

					&.last-selected-post {
						border-top-right-radius: 20px;
					}

					.selected-post-title-box {
						display: table;
						position: absolute;
						bottom: 0;
						background: rgba(0, 0, 0, 0.8);
						height: 78px;
						width: 100%;

						.selected-post-title {
							display: table-cell;
							vertical-align: middle;
							font-size: 14px;
							font-weight: $font-bold;
							text-transform: uppercase;
							color: #ffffff;
							padding: 0 56px;
							margin: 0;
						}

					}

				}

			}
	
			.news-line {
				display: table;
				margin: 0;
				padding: 25px;
				overflow: auto;

				.hot-icon {
					display: table-cell;
					width: 35px;
					border-left: 3px solid rgba(0, 0, 0, 0.09);
					border-radius: 50%;
				}

				.hot-icon-left {
					float: left;
				}

				.hot-news-title {
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					font-size: 14px;
					font-weight: $font-semibold;
					font-style: italic;
					color: $red;
					text-decoration: none;
				}

				.hot-icon-right {
					float: right;
				}

			}

			.blogs {
				background: url(../images/blog-background.jpg);
				background-size: cover;
				background-position: center center;
				text-align: center;
				padding: 25px 25px 50px 25px;
				margin-bottom: 50px;

				.blog-title {
					color: #ffffff;
					margin: 0;
					font-size: 24px;
					font-weight: $font-bold;
				}

				.blog-post {

					.blog-post-image {
						background: url(../images/blog-image.jpg);
						background-size: cover;
						background-position: center center;
						width: 220px;
						height: 155px;
						margin: 40px auto 20px auto;
						border-radius: 20px;

						&:before {
							content: '';
							display: block;
							box-sizing: border-box;
					   	 	-moz-box-sizing: border-box;
					    	-webkit-box-sizing: border-box;
					    	width: 100%;
					    	height: 100%;
							border: 10px solid rgba(255, 255, 255, 0.4);
							border-radius: 20px;
						}

						&:hover {
							cursor: pointer;

							&:before {
								content: '';
								display: block;
								box-sizing: border-box;
						   	 	-moz-box-sizing: border-box;
						    	-webkit-box-sizing: border-box;
						    	width: 100%;
						    	height: 100%;
								border: 10px solid rgba(255, 255, 255, 0.6);
								border-radius: 20px;
							}

						}

					}

					.blog-post-title {
						color: #ffffff;
						text-decoration: none;
						text-align: center;
						font-size: 14px;
						font-weight: $font-semibold;
					}

				}

			}

		}

		main {

			.main-section {
				background-color: #ffffff;
				border-radius: 20px;
				overflow: auto;
				margin-bottom: 50px;
				padding: 25px;

				.button-sort {
					width: 100%;
					max-width: 270px;
					height: 50px;
					padding: 0 20px 0 30px;
					margin: 0 auto 0 auto;
					text-align: left;
					line-height: 50px;
					font-size: 18px;
					font-weight: $font-bold;
					cursor: pointer;
					box-sizing: border-box;
			   	 	-moz-box-sizing: border-box;
			    	-webkit-box-sizing: border-box;

				}

				.button-sort-list {
					display: none;
					width: 100%;
				    max-width: 270px;
				    margin: 10px auto 0 auto;

					&.open {
						display: block;
					}

					a {
						font-size: 18px;
						font-weight: $font-bold;
						color: #ffffff;
						display: block;
						height: 62px;
						line-height: 62px;
						text-decoration: none;

						&.sort-new {
							border-bottom: 1px solid #f61f24;
						}

						&.sort-popular {
							border-top: 1px solid #da0309;
							border-bottom: 1px solid #f61f24;
						}

						&.sort-comment {
							border-top: 1px solid #da0309;
						}

					}

				}

				.main-post {
					margin: 25px 0;
					border-bottom: 2px solid #e9f1f6;

					.main-post-image {
						background: url(../images/post-image.jpg);
						background-size: cover;
						background-position: center center;
						height: 198px;
						width: 100%;
						border-radius: 20px;
						margin-bottom: 25px;

						&:before {
								content: '';
								display: block;
								box-sizing: border-box;
						   	 	-moz-box-sizing: border-box;
						    	-webkit-box-sizing: border-box;
						    	width: 100%;
						    	height: 100%;
								border: 10px solid rgba(255, 255, 255, 0.4);
								border-radius: 20px;
						}

						&:hover {
							cursor: pointer;

							&:before {
								content: '';
								display: block;
								box-sizing: border-box;
						   	 	-moz-box-sizing: border-box;
						    	-webkit-box-sizing: border-box;
						    	width: 100%;
						    	height: 100%;
								border: 10px solid rgba(255, 255, 255, 0.6);
								border-radius: 20px;
							}

						}

					}

					.main-post-info {
						position: relative;
						overflow: hidden;
						padding-bottom: 10px;

						.post-author {
							text-decoration: none;
							color: #212329;
							font-size: 16px;
							font-weight: $font-bold;
							float: left;

							&:after {
								content: '';
								margin: 0 auto;
								position: absolute;
								height: 14px;
								width: 3px;
								background: #cdd1dd;
								right: 0;
								left: 0;
							}
						}

						.post-date {
							text-decoration: none;
							color: #cdd1dd;
							font-size: 16px;
							font-weight: $font-bold;
							float: right;
						}

						&:after {
							content: '';
							margin: 0 auto;
							position: absolute;
							width: 50px;
							height: 3px;
							background: #ec1615;
							bottom: 0;
							right: 0;
							left: 0;
						}

					}

					.main-post-title {
						display: inline-block;
						text-decoration: none;
						color: #212329;
						font-size: 17px;
						font-weight: $font-bold;
						text-transform: uppercase;
						margin-top: 35px;
					}

					.main-post-lead {
						color: #212329;
						font-size: 16px;
						font-weight: $font-regular;
					}

					.button-read-more {
						width: 151px;
						height: 42px;
						line-height: 42px;
						padding: 0 25px 0 0;
						margin: 25px auto;
						font-size: 15.12px;
						font-weight: $font-bold;

						img {
							float: right;
						}

					}

				}

				.load-circle {
					margin: 0 auto;
					width: 50px;
					height: 50px;
					position: relative;

					.load-child {
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;

						&:before {
							content: '';
							display: block;
							margin: 0 auto;
							width: 15%;
							height: 15%;
							background-color: #333;
							border-radius: 100%;
							-webkit-animation: load-circleBounceDelay 1.2s infinite ease-in-out both;
							animation: load-circleBounceDelay 1.2s infinite ease-in-out both;
						}

					}

					.load-circle2 {
						-webkit-transform: rotate(45deg);
						-ms-transform: rotate(45deg);
						transform: rotate(45deg);

						&:before {
							-webkit-animation-delay: -1.1s;
							animation-delay: -1.1s;
						}

					}

					.load-circle3 {
						-webkit-transform: rotate(90deg);
						-ms-transform: rotate(90deg);
						transform: rotate(90deg);

						&:before {
							-webkit-animation-delay: -1s;
							animation-delay: -1s;
						}

					}

					.load-circle4 {
						-webkit-transform: rotate(135deg);
						-ms-transform: rotate(135deg);
						transform: rotate(135deg);

						&:before {
							-webkit-animation-delay: -0.9s;
							animation-delay: -0.9s;
						}

					}

					.load-circle5 {
						-webkit-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						transform: rotate(180deg);

						&:before {
							-webkit-animation-delay: -0.8s;
							animation-delay: -0.8s;
						}

					}

					.load-circle6 {
						-webkit-transform: rotate(225deg);
						-ms-transform: rotate(225deg);
						transform: rotate(225deg);

						&:before {
							-webkit-animation-delay: -0.7s;
							animation-delay: -0.7s;
						}

					}

					.load-circle7 {
						-webkit-transform: rotate(270deg);
						-ms-transform: rotate(270deg);
						transform: rotate(270deg);

						&:before {
							-webkit-animation-delay: -0.6s;
							animation-delay: -0.6s;
						}

					}

					.load-circle8 {
						-webkit-transform: rotate(315deg);
						-ms-transform: rotate(315deg);
						transform: rotate(315deg);

						&:before {
							-webkit-animation-delay: -0.5s;
							animation-delay: -0.5s;
						}

					}

					@-webkit-keyframes load-circleBounceDelay {

						0%, 80%, 100% {
							-webkit-transform: scale(0);
						    transform: scale(0);
						} 

						40% {
							-webkit-transform: scale(1);
						    transform: scale(1);
						}

					}

					@keyframes load-circleBounceDelay {

						0%, 80%, 100% {
							-webkit-transform: scale(0);
						    transform: scale(0);
						} 

						40% {
							-webkit-transform: scale(1);
						    transform: scale(1);
						}

					}

				}

			}

		}

		footer {
			text-align: center;
			background: url(../images/footer-background.jpg);
			background-size: cover;
			background-position: center center;

			.button-to-top {
				display: inline-block;
				width: 70px;
				height: 70px;
				margin: 50px 0;
				background: $red;
				border-radius: 10px; 
				cursor: pointer;
				
				.button-arrow {
					left: 0;
				}

			}

			.submenu-title {
				font-size: 22px;
				font-weight: $font-bold;
				color: #ffffff;
				margin: 25px 0;
			}

			p {
				font-size: 16px;
				font-weight: $font-regular;
				margin: 0;
				color: #ffffff;
			}

			a {
				display: block;
				font-size: 16px;
				font-weight: $font-regular;
				color: #ffffff;
				text-decoration: none;
				margin-bottom: 15px;
			}

			.newsletter {
				border-top: 2px solid rgba(255, 255, 255, 0.0302);

				p {

					&:last-of-type {
						margin-bottom: 25px;
					}

				}

				input {
					background: #182031;
					border-radius: 20px;
					max-width: 270px;
					height: 50px;
					line-height: 50px;
				    padding: 0 30px;
				    margin: 25px auto;
				}

				input::-webkit-input-placeholder {
					color: #ffffff;
					font-size: 16px;
					font-weight: $font-regular;
				}

				input::-moz-placeholder {
					color: #ffffff;
					font-size: 16px;
					font-weight: $font-regular;
				}

				input:-ms-input-placeholder {
					color: #ffffff;
					font-size: 16px;
					font-weight: $font-regular;
				}

			}

			.footer-menu {
				border-top: 2px solid rgba(255, 255, 255, 0.0302);

				a {
					font-size: 18px;

					&:last-of-type {
						margin-bottom: 25px;
					}

				}
			}

			.coop-menu {
				border-top: 2px solid rgba(255, 255, 255, 0.0302);

				a {

					&:last-of-type {
						margin-bottom: 25px;
					}

				}

			}

			.contact-menu {
				border-top: 2px solid rgba(255, 255, 255, 0.0302);

				a {
					margin: 5px 0 0 0;
				}

				.social-icons {
					display: inline-block;
					margin-bottom: 25px;

					a {
						margin: 0;
						display: inline-block;
						float: left;

						i {
							font-size: 20px;
							color: #273144;

							&:hover {
								color: #ffffff;
							}

						}

					}

					.google-icon {
						float: none;
					}

					.twitter-icon {
						float: right;
					}

				}

			}

			.copyrights {
				padding: 25px 0 50px 0;
				border-top: 2px solid rgba(255, 255, 255, 0.0302);

				p {
					font-family: "Aller";
					font-size: 14px;
					font-weight: $font-regular;
					
					&:first-of-type {
						margin-bottom: 15px;
					}

				}

			}

		}

	}

}


// RWD

@media only screen and (min-width: 960px) {

	body {

		.wrapper {

			.header {
				padding: 55px 0 395px 0;

				.main-logo {
					float: left;
					width: 350px;
				    margin: 0 0 20px 0;
				}

				.user-panel {
					width: 235px;
					float: right;
					right: 10px;
					margin-top: 48px;
					padding: 0;

					.login-icon {
						max-width: 90px;
						border: 10px solid rgba(255, 255, 255, 0.12);
					}

					.button-login {
						font-size: 20px;
						line-height: 20px;
						font-weight: $font-bold;
						text-transform: uppercase;
						padding: 18px 30px 18px 0;
						border-top-left-radius: 50px;
						border-bottom-left-radius: 50px;
						left: 10px;
					}

				}

				.menu-box {
					float: left;
					clear: both;
					margin: 17.5px 0 0 50px;
					line-height: 35px;

					h2 {
						text-transform: uppercase;
						font-size: 20px;
						font-weight: $font-bold;
						color: #ffffff;
						float: left;
						margin: 0;
					}

					.mobile-menu-icon {
						float: left;
						margin: 0 0 0 30px;
					}

				}

				.mobile-menu {
					padding: 0 25px;

					a {
						float: left;
					}

				}

			}

			aside {
				margin-top: -350px;

				.slider {

					.slider-post {
						height: 350px;

						.slider-post-title-box {
							margin-bottom: 65px;

							.slider-post-title {
								font-size: 28px;
							    font-weight: $font-bold;
							    padding: 50px 100px;
							}

						}

					}

					.owl-dots {
					    position: absolute;
					    top: auto;
					    bottom: 25px;
					    left: 102px;
					    margin: 36px 20px 0px 0px;

					    .owl-dot {
					    	float: left;
					    	margin: 0 10px 0 0;
					    }

					}

					.owl-nav {
						display: block;
					}

				}

				.news-line {
					padding: 40px;

					.hot-news-title {
						font-size: 18px;
						font-weight: $font-semibold;
					}
				}

			}

		}

	}

}