/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.grid {
  margin-left: -25px;
  margin-right: -25px; }

.grid [class*="col-"] {
  vertical-align: top;
  padding-left: 25px;
  padding-right: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* --- WIDTH --- */
.col-1-1 {
  width: 100%;
  float: none; }

.col-1-2 {
  width: 50%;
  float: left; }

.col-1-3 {
  width: 33.333333%;
  float: left; }

.col-2-3 {
  width: 66.666666%;
  float: left; }

.col-1-4 {
  width: 25%;
  float: left; }

.col-2-4 {
  width: 50%;
  float: left; }

.col-3-4 {
  width: 75%;
  float: left; }

/* --- PUSH --- */
[class*="col-push-"] {
  position: relative; }

.col-push-1-1 {
  left: 100%; }

.col-push-1-2 {
  left: 50%; }

.col-push-1-3 {
  left: 33.333333%; }

.col-push-2-3 {
  left: 66.666666%; }

.col-push-1-4 {
  left: 25%; }

.col-push-2-4 {
  left: 50%; }

.col-push-3-4 {
  left: 75%; }

/* --- PULL --- */
[class*="col-pull-"] {
  position: relative; }

.col-pull-1-1 {
  right: 100%; }

.col-pull-1-2 {
  right: 50%; }

.col-pull-1-3 {
  right: 33.333333%; }

.col-pull-2-3 {
  right: 66.666666%; }

.col-pull-1-4 {
  right: 25%; }

.col-pull-2-4 {
  right: 50%; }

.col-pull-3-4 {
  right: 75%; }

/* --- BREAKPOINTS --- */
.bp1-only-visible {
  display: none !important; }

.bp2-only-visible {
  display: none !important; }

.bp3-only-visible {
  display: none !important; }

.bp1-visible,
.bp2-visible,
.bp3-visible {
  display: none !important; }

/* BREAKPOINT 1 - 320px */
@media only screen and (min-width: 320px) {
  /* VISIBLE */
  .bp1-hidden {
    display: none !important; }
  .bp1-visible {
    display: inherit !important; }
  .bp1-only-hidden {
    display: none !important; }
  .bp2-only-hidden {
    display: inherit !important; }
  .bp3-only-hidden {
    display: inherit !important; }
  .bp1-only-visible {
    display: inherit !important; }
  .bp2-only-visible {
    display: none !important; }
  .bp3-only-visible {
    display: none !important; }
  /* WIDTH */
  .bp1-col-1-1 {
    width: 100%;
    float: none; }
  .bp1-col-1-2 {
    width: 50%;
    float: left; }
  .bp1-col-1-3 {
    width: 33.333333%;
    float: left; }
  .bp1-col-2-3 {
    width: 66.666666%;
    float: left; }
  .bp1-col-1-4 {
    width: 25%;
    float: left; }
  .bp1-col-2-4 {
    width: 50%;
    float: left; }
  .bp1-col-3-4 {
    width: 75%;
    float: left; }
  /* PUSH */
  [class*="bp1-col-push-"] {
    position: relative; }
  .bp1-col-push-1-1 {
    left: 100%; }
  .bp1-col-push-1-2 {
    left: 50%; }
  .bp1-col-push-1-3 {
    left: 33.333333%; }
  .bp1-col-push-2-3 {
    left: 66.666666%; }
  .bp1-col-push-1-4 {
    left: 25%; }
  .bp1-col-push-2-4 {
    left: 50%; }
  .bp1-col-push-3-4 {
    left: 75%; }
  /* PULL */
  [class*="bp1-col-pull-"] {
    position: relative; }
  .bp1-col-pull-1-1 {
    right: 100%; }
  .bp1-col-pull-1-2 {
    right: 50%; }
  .bp1-col-pull-1-3 {
    right: 33.333333%; }
  .bp1-col-pull-2-3 {
    right: 66.666666%; }
  .bp1-col-pull-1-4 {
    right: 25%; }
  .bp1-col-pull-2-4 {
    right: 50%; }
  .bp1-col-pull-3-4 {
    right: 75%; } }

/* BREAKPOINT 2 - 960px */
@media only screen and (min-width: 960px) {
  /* VISIBLE */
  .bp2-hidden {
    display: none !important; }
  .bp2-visible {
    display: inherit !important; }
  .bp1-only-hidden {
    display: inherit !important; }
  .bp2-only-hidden {
    display: none !important; }
  .bp3-only-hidden {
    display: inherit !important; }
  .bp1-only-visible {
    display: none !important; }
  .bp2-only-visible {
    display: inherit !important; }
  .bp3-only-visible {
    display: none !important; }
  /* WIDTH */
  .bp2-col-1-1 {
    width: 100%;
    float: none; }
  .bp2-col-1-2 {
    width: 50%;
    float: left; }
  .bp2-col-1-3 {
    width: 33.333333%;
    float: left; }
  .bp2-col-2-3 {
    width: 66.666666%;
    float: left; }
  .bp2-col-1-4 {
    width: 25%;
    float: left; }
  .bp2-col-2-4 {
    width: 50%;
    float: left; }
  .bp2-col-3-4 {
    width: 75%;
    float: left; }
  /* PUSH */
  [class*="bp1-col-push-"] {
    position: relative; }
  .bp2-col-push-1-1 {
    left: 100%; }
  .bp2-col-push-1-2 {
    left: 50%; }
  .bp2-col-push-1-3 {
    left: 33.333333%; }
  .bp2-col-push-2-3 {
    left: 66.666666%; }
  .bp2-col-push-1-4 {
    left: 25%; }
  .bp2-col-push-2-4 {
    left: 50%; }
  .bp2-col-push-3-4 {
    left: 75%; }
  /* PULL */
  [class*="bp1-col-pull-"] {
    position: relative; }
  .bp2-col-pull-1-1 {
    right: 100%; }
  .bp2-col-pull-1-2 {
    right: 50%; }
  .bp2-col-pull-1-3 {
    right: 33.333333%; }
  .bp2-col-pull-2-3 {
    right: 66.666666%; }
  .bp2-col-pull-1-4 {
    right: 25%; }
  .bp2-col-pull-2-4 {
    right: 50%; }
  .bp2-col-pull-3-4 {
    right: 75%; } }

@font-face {
  font-family: 'Aller';
  src: url("../fonts/Aller_Rg.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Signika';
  src: url("../fonts/Signika-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Signika';
  src: url("../fonts/Signika-Regular.ttf") format("truetype");
  font-weight: 400; }

@font-face {
  font-family: 'Signika';
  src: url("../fonts/Signika-Semibold.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: 'Signika';
  src: url("../fonts/Signika-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/LeagueSpartan-Bold.otf") format("opentype");
  font-weight: 700; }

body {
  background-color: #eaf2f6;
  font-family: "Signika"; }
  body .wrapper {
    max-width: 1200px;
    margin: 0 auto; }
    body .wrapper input {
      display: block;
      border: 0;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box; }
    body .wrapper .button {
      display: block;
      position: relative;
      text-align: center;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: #e8161b;
      color: #ffffff;
      border: none;
      border-radius: 20px;
      text-decoration: none; }
      body .wrapper .button .button-arrow {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-left: inherit;
        padding-right: inherit; }
    body .wrapper .header {
      background: url(../images/header-background.jpg);
      background-size: cover;
      background-position: center center;
      text-align: center;
      padding: 72px 25px 177px 25px;
      position: relative;
      margin: 0;
      overflow: auto; }
      body .wrapper .header .main-logo {
        display: block;
        width: 270px;
        max-width: 100%;
        margin: 0 auto 50px auto;
        padding: 0; }
      body .wrapper .header .user-panel {
        position: relative;
        padding: 0;
        margin-top: 10px;
        width: 161px; }
        body .wrapper .header .user-panel .login-icon {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin: auto auto;
          border-radius: 50%;
          border: 3px solid rgba(255, 255, 255, 0.12);
          max-width: 46px;
          z-index: 2; }
        body .wrapper .header .user-panel .button-register {
          text-decoration: none;
          color: #ffffff;
          float: left; }
        body .wrapper .header .user-panel .button-login {
          position: relative;
          font-size: 13.14px;
          font-weight: 700;
          text-align: right;
          left: 3px;
          padding: 11px 20px 11px 0; }
      body .wrapper .header .mobile-menu-icon {
        float: right;
        margin: 11px auto 0 auto;
        width: 35px;
        height: 35px;
        padding: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer; }
        body .wrapper .header .mobile-menu-icon span {
          display: block;
          position: absolute;
          height: 7px;
          width: 100%;
          background: #e8161b;
          border-radius: 20px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
          body .wrapper .header .mobile-menu-icon span:nth-child(1) {
            top: 0; }
          body .wrapper .header .mobile-menu-icon span:nth-child(2), body .wrapper .header .mobile-menu-icon span:nth-child(3) {
            top: 14px; }
          body .wrapper .header .mobile-menu-icon span:nth-child(4) {
            top: 28px; }
        body .wrapper .header .mobile-menu-icon.open:after {
          content: '';
          position: absolute;
          background: #000000;
          width: 100%;
          height: 100%;
          left: 0;
          padding-bottom: 10px;
          z-index: -1; }
        body .wrapper .header .mobile-menu-icon.open span:nth-child(1) {
          top: 14px;
          width: 0%;
          left: 50%; }
        body .wrapper .header .mobile-menu-icon.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg); }
        body .wrapper .header .mobile-menu-icon.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        body .wrapper .header .mobile-menu-icon.open span:nth-child(4) {
          top: 14px;
          width: 0%;
          left: 50%; }
      body .wrapper .header .search-box {
        position: relative;
        padding: 0;
        max-width: 371px;
        float: right;
        margin: 0 0 10px 0; }
        body .wrapper .header .search-box input {
          background: #ffffff;
          max-width: 371px;
          height: 70px;
          line-height: 70px;
          border-radius: 20px;
          border: 10px solid rgba(255, 255, 255, 0.12);
          -webkit-background-clip: content-box;
          -moz-background-clip: content-box;
          background-clip: content-box;
          padding: 0; }
        body .wrapper .header .search-box .search-icon {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          padding-right: 30px;
          width: 18px;
          height: 18px;
          margin: auto; }
        body .wrapper .header .search-box input::-webkit-input-placeholder {
          color: #bdc1ca;
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          padding: 0 20px 0 30px; }
        body .wrapper .header .search-box input::-moz-placeholder {
          color: #bdc1ca;
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          padding: 0 20px 0 30px; }
        body .wrapper .header .search-box input:-ms-input-placeholder {
          color: #bdc1ca;
          font-size: 18px;
          font-weight: 400;
          text-align: left;
          padding: 0 20px 0 30px; }
      body .wrapper .header .user-panel-modal {
        position: fixed;
        color: #ffffff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #ea171e;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        z-index: 99999;
        opacity: 0;
        pointer-events: none;
        padding: 40px; }
        body .wrapper .header .user-panel-modal:target {
          opacity: 1;
          pointer-events: auto; }
        body .wrapper .header .user-panel-modal h2 {
          margin: 0 0 173px 0;
          font-family: 'League Spartan';
          font-weight: 700;
          font-size: 15.99px; }
        body .wrapper .header .user-panel-modal a {
          margin: 0;
          text-decoration: none;
          color: #880000; }
        body .wrapper .header .user-panel-modal input {
          background: #ffffff;
          border-radius: 10px;
          max-width: 240px;
          height: 50px;
          line-height: 50px; }
        body .wrapper .header .user-panel-modal input[name="user-login"] {
          margin: 40px auto 20px auto; }
        body .wrapper .header .user-panel-modal input[name="user-pass"] {
          margin: 0 auto 10px auto; }
        body .wrapper .header .user-panel-modal input::-webkit-input-placeholder {
          color: #9faab6;
          font-size: 16px;
          font-weight: 400;
          text-align: center; }
        body .wrapper .header .user-panel-modal input::-moz-placeholder {
          color: #9faab6;
          font-size: 16px;
          font-weight: 400;
          text-align: center; }
        body .wrapper .header .user-panel-modal input:-ms-input-placeholder {
          color: #9faab6;
          font-size: 16px;
          font-weight: 400;
          text-align: center; }
        body .wrapper .header .user-panel-modal .button-login {
          width: 100%;
          max-width: 240px;
          height: 40px;
          line-height: 40px;
          color: #ffffff;
          background: #ff2628;
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
          margin: 40px auto 10px auto; }
        body .wrapper .header .user-panel-modal .close-modal {
          display: block;
          position: absolute;
          top: 40px;
          width: 16px;
          height: 16px;
          padding: 0;
          cursor: pointer; }
          body .wrapper .header .user-panel-modal .close-modal span {
            display: block;
            position: absolute;
            height: 17.64px;
            width: 5px;
            background: #ffffff;
            border-radius: 20px;
            opacity: 1; }
            body .wrapper .header .user-panel-modal .close-modal span:first-of-type {
              top: 14px;
              width: 0;
              left: 50%; }
            body .wrapper .header .user-panel-modal .close-modal span:nth-child(2) {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg); }
            body .wrapper .header .user-panel-modal .close-modal span:last-of-type {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg); }
      body .wrapper .header .mobile-menu {
        display: none;
        background: #000000;
        padding: 0;
        clear: both; }
        body .wrapper .header .mobile-menu.open {
          display: block; }
          body .wrapper .header .mobile-menu.open a {
            display: block;
            color: #ffffff;
            text-decoration: none; }
    body .wrapper aside {
      margin-top: -122px; }
      body .wrapper aside .slider {
        padding: 0; }
        body .wrapper aside .slider .slider-post {
          position: relative;
          background: url(../images/slider-big.jpg);
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 200px;
          border-radius: 20px;
          font-weight: 700; }
          body .wrapper aside .slider .slider-post .slider-post-title-box {
            display: table;
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.8);
            height: 78px;
            width: 100%; }
            body .wrapper aside .slider .slider-post .slider-post-title-box .slider-post-title {
              display: table-cell;
              vertical-align: middle;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              color: #ffffff;
              padding: 0 56px;
              margin: 0; }
        body .wrapper aside .slider .owl-dots {
          position: absolute;
          top: 36px;
          right: 20px; }
          body .wrapper aside .slider .owl-dots .owl-dot {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 100%;
            border: 2px solid #ffffff;
            background: transparent;
            margin: 0 0 10px 0; }
            body .wrapper aside .slider .owl-dots .owl-dot.active {
              background: #ffffff; }
        body .wrapper aside .slider .owl-nav {
          display: none;
          position: absolute;
          top: 194px;
          left: 25px;
          right: 25px; }
          body .wrapper aside .slider .owl-nav .owl-prev {
            float: left; }
            body .wrapper aside .slider .owl-nav .owl-prev .arrow-left {
              height: 50px;
              width: 27px; }
          body .wrapper aside .slider .owl-nav .owl-next {
            float: right; }
            body .wrapper aside .slider .owl-nav .owl-next .arrow-right {
              height: 50px;
              width: 27px; }
      body .wrapper aside .top-selected-post {
        width: 37%;
        height: 350px;
        float: right; }
      body .wrapper aside .selected-posts {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        width: 100%;
        z-index: 9999;
        height: 200px;
        margin-top: 50px;
        overflow: auto; }
        body .wrapper aside .selected-posts .selected-post {
          position: relative;
          background: url(../images/slider-big.jpg);
          background-size: cover;
          background-position: center center;
          width: 100%;
          height: 200px;
          font-weight: 700; }
          body .wrapper aside .selected-posts .selected-post.first-selected-post {
            border-top-left-radius: 20px; }
          body .wrapper aside .selected-posts .selected-post.middle-selected-post {
            margin: 0 5px; }
          body .wrapper aside .selected-posts .selected-post.last-selected-post {
            border-top-right-radius: 20px; }
          body .wrapper aside .selected-posts .selected-post .selected-post-title-box {
            display: table;
            position: absolute;
            bottom: 0;
            background: rgba(0, 0, 0, 0.8);
            height: 78px;
            width: 100%; }
            body .wrapper aside .selected-posts .selected-post .selected-post-title-box .selected-post-title {
              display: table-cell;
              vertical-align: middle;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              color: #ffffff;
              padding: 0 56px;
              margin: 0; }
      body .wrapper aside .news-line {
        display: table;
        margin: 0;
        padding: 25px;
        overflow: auto; }
        body .wrapper aside .news-line .hot-icon {
          display: table-cell;
          width: 35px;
          border-left: 3px solid rgba(0, 0, 0, 0.09);
          border-radius: 50%; }
        body .wrapper aside .news-line .hot-icon-left {
          float: left; }
        body .wrapper aside .news-line .hot-news-title {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          font-style: italic;
          color: #e8161b;
          text-decoration: none; }
        body .wrapper aside .news-line .hot-icon-right {
          float: right; }
      body .wrapper aside .blogs {
        background: url(../images/blog-background.jpg);
        background-size: cover;
        background-position: center center;
        text-align: center;
        padding: 25px 25px 50px 25px;
        margin-bottom: 50px; }
        body .wrapper aside .blogs .blog-title {
          color: #ffffff;
          margin: 0;
          font-size: 24px;
          font-weight: 700; }
        body .wrapper aside .blogs .blog-post .blog-post-image {
          background: url(../images/blog-image.jpg);
          background-size: cover;
          background-position: center center;
          width: 220px;
          height: 155px;
          margin: 40px auto 20px auto;
          border-radius: 20px; }
          body .wrapper aside .blogs .blog-post .blog-post-image:before {
            content: '';
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 10px solid rgba(255, 255, 255, 0.4);
            border-radius: 20px; }
          body .wrapper aside .blogs .blog-post .blog-post-image:hover {
            cursor: pointer; }
            body .wrapper aside .blogs .blog-post .blog-post-image:hover:before {
              content: '';
              display: block;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              width: 100%;
              height: 100%;
              border: 10px solid rgba(255, 255, 255, 0.6);
              border-radius: 20px; }
        body .wrapper aside .blogs .blog-post .blog-post-title {
          color: #ffffff;
          text-decoration: none;
          text-align: center;
          font-size: 14px;
          font-weight: 600; }
    body .wrapper main .main-section {
      background-color: #ffffff;
      border-radius: 20px;
      overflow: auto;
      margin-bottom: 50px;
      padding: 25px; }
      body .wrapper main .main-section .button-sort {
        width: 100%;
        max-width: 270px;
        height: 50px;
        padding: 0 20px 0 30px;
        margin: 0 auto 0 auto;
        text-align: left;
        line-height: 50px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box; }
      body .wrapper main .main-section .button-sort-list {
        display: none;
        width: 100%;
        max-width: 270px;
        margin: 10px auto 0 auto; }
        body .wrapper main .main-section .button-sort-list.open {
          display: block; }
        body .wrapper main .main-section .button-sort-list a {
          font-size: 18px;
          font-weight: 700;
          color: #ffffff;
          display: block;
          height: 62px;
          line-height: 62px;
          text-decoration: none; }
          body .wrapper main .main-section .button-sort-list a.sort-new {
            border-bottom: 1px solid #f61f24; }
          body .wrapper main .main-section .button-sort-list a.sort-popular {
            border-top: 1px solid #da0309;
            border-bottom: 1px solid #f61f24; }
          body .wrapper main .main-section .button-sort-list a.sort-comment {
            border-top: 1px solid #da0309; }
      body .wrapper main .main-section .main-post {
        margin: 25px 0;
        border-bottom: 2px solid #e9f1f6; }
        body .wrapper main .main-section .main-post .main-post-image {
          background: url(../images/post-image.jpg);
          background-size: cover;
          background-position: center center;
          height: 198px;
          width: 100%;
          border-radius: 20px;
          margin-bottom: 25px; }
          body .wrapper main .main-section .main-post .main-post-image:before {
            content: '';
            display: block;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            width: 100%;
            height: 100%;
            border: 10px solid rgba(255, 255, 255, 0.4);
            border-radius: 20px; }
          body .wrapper main .main-section .main-post .main-post-image:hover {
            cursor: pointer; }
            body .wrapper main .main-section .main-post .main-post-image:hover:before {
              content: '';
              display: block;
              box-sizing: border-box;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              width: 100%;
              height: 100%;
              border: 10px solid rgba(255, 255, 255, 0.6);
              border-radius: 20px; }
        body .wrapper main .main-section .main-post .main-post-info {
          position: relative;
          overflow: hidden;
          padding-bottom: 10px; }
          body .wrapper main .main-section .main-post .main-post-info .post-author {
            text-decoration: none;
            color: #212329;
            font-size: 16px;
            font-weight: 700;
            float: left; }
            body .wrapper main .main-section .main-post .main-post-info .post-author:after {
              content: '';
              margin: 0 auto;
              position: absolute;
              height: 14px;
              width: 3px;
              background: #cdd1dd;
              right: 0;
              left: 0; }
          body .wrapper main .main-section .main-post .main-post-info .post-date {
            text-decoration: none;
            color: #cdd1dd;
            font-size: 16px;
            font-weight: 700;
            float: right; }
          body .wrapper main .main-section .main-post .main-post-info:after {
            content: '';
            margin: 0 auto;
            position: absolute;
            width: 50px;
            height: 3px;
            background: #ec1615;
            bottom: 0;
            right: 0;
            left: 0; }
        body .wrapper main .main-section .main-post .main-post-title {
          display: inline-block;
          text-decoration: none;
          color: #212329;
          font-size: 17px;
          font-weight: 700;
          text-transform: uppercase;
          margin-top: 35px; }
        body .wrapper main .main-section .main-post .main-post-lead {
          color: #212329;
          font-size: 16px;
          font-weight: 400; }
        body .wrapper main .main-section .main-post .button-read-more {
          width: 151px;
          height: 42px;
          line-height: 42px;
          padding: 0 25px 0 0;
          margin: 25px auto;
          font-size: 15.12px;
          font-weight: 700; }
          body .wrapper main .main-section .main-post .button-read-more img {
            float: right; }
      body .wrapper main .main-section .load-circle {
        margin: 0 auto;
        width: 50px;
        height: 50px;
        position: relative; }
        body .wrapper main .main-section .load-circle .load-child {
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0; }
          body .wrapper main .main-section .load-circle .load-child:before {
            content: '';
            display: block;
            margin: 0 auto;
            width: 15%;
            height: 15%;
            background-color: #333;
            border-radius: 100%;
            -webkit-animation: load-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: load-circleBounceDelay 1.2s infinite ease-in-out both; }
        body .wrapper main .main-section .load-circle .load-circle2 {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
          body .wrapper main .main-section .load-circle .load-circle2:before {
            -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
        body .wrapper main .main-section .load-circle .load-circle3 {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
          body .wrapper main .main-section .load-circle .load-circle3:before {
            -webkit-animation-delay: -1s;
            animation-delay: -1s; }
        body .wrapper main .main-section .load-circle .load-circle4 {
          -webkit-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          transform: rotate(135deg); }
          body .wrapper main .main-section .load-circle .load-circle4:before {
            -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
        body .wrapper main .main-section .load-circle .load-circle5 {
          -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
          body .wrapper main .main-section .load-circle .load-circle5:before {
            -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
        body .wrapper main .main-section .load-circle .load-circle6 {
          -webkit-transform: rotate(225deg);
          -ms-transform: rotate(225deg);
          transform: rotate(225deg); }
          body .wrapper main .main-section .load-circle .load-circle6:before {
            -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
        body .wrapper main .main-section .load-circle .load-circle7 {
          -webkit-transform: rotate(270deg);
          -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
          body .wrapper main .main-section .load-circle .load-circle7:before {
            -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
        body .wrapper main .main-section .load-circle .load-circle8 {
          -webkit-transform: rotate(315deg);
          -ms-transform: rotate(315deg);
          transform: rotate(315deg); }
          body .wrapper main .main-section .load-circle .load-circle8:before {
            -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }

@-webkit-keyframes load-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes load-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
    body .wrapper footer {
      text-align: center;
      background: url(../images/footer-background.jpg);
      background-size: cover;
      background-position: center center; }
      body .wrapper footer .button-to-top {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 50px 0;
        background: #e8161b;
        border-radius: 10px;
        cursor: pointer; }
        body .wrapper footer .button-to-top .button-arrow {
          left: 0; }
      body .wrapper footer .submenu-title {
        font-size: 22px;
        font-weight: 700;
        color: #ffffff;
        margin: 25px 0; }
      body .wrapper footer p {
        font-size: 16px;
        font-weight: 400;
        margin: 0;
        color: #ffffff; }
      body .wrapper footer a {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        text-decoration: none;
        margin-bottom: 15px; }
      body .wrapper footer .newsletter {
        border-top: 2px solid rgba(255, 255, 255, 0.0302); }
        body .wrapper footer .newsletter p:last-of-type {
          margin-bottom: 25px; }
        body .wrapper footer .newsletter input {
          background: #182031;
          border-radius: 20px;
          max-width: 270px;
          height: 50px;
          line-height: 50px;
          padding: 0 30px;
          margin: 25px auto; }
        body .wrapper footer .newsletter input::-webkit-input-placeholder {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400; }
        body .wrapper footer .newsletter input::-moz-placeholder {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400; }
        body .wrapper footer .newsletter input:-ms-input-placeholder {
          color: #ffffff;
          font-size: 16px;
          font-weight: 400; }
      body .wrapper footer .footer-menu {
        border-top: 2px solid rgba(255, 255, 255, 0.0302); }
        body .wrapper footer .footer-menu a {
          font-size: 18px; }
          body .wrapper footer .footer-menu a:last-of-type {
            margin-bottom: 25px; }
      body .wrapper footer .coop-menu {
        border-top: 2px solid rgba(255, 255, 255, 0.0302); }
        body .wrapper footer .coop-menu a:last-of-type {
          margin-bottom: 25px; }
      body .wrapper footer .contact-menu {
        border-top: 2px solid rgba(255, 255, 255, 0.0302); }
        body .wrapper footer .contact-menu a {
          margin: 5px 0 0 0; }
        body .wrapper footer .contact-menu .social-icons {
          display: inline-block;
          margin-bottom: 25px; }
          body .wrapper footer .contact-menu .social-icons a {
            margin: 0;
            display: inline-block;
            float: left; }
            body .wrapper footer .contact-menu .social-icons a i {
              font-size: 20px;
              color: #273144; }
              body .wrapper footer .contact-menu .social-icons a i:hover {
                color: #ffffff; }
          body .wrapper footer .contact-menu .social-icons .google-icon {
            float: none; }
          body .wrapper footer .contact-menu .social-icons .twitter-icon {
            float: right; }
      body .wrapper footer .copyrights {
        padding: 25px 0 50px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.0302); }
        body .wrapper footer .copyrights p {
          font-family: "Aller";
          font-size: 14px;
          font-weight: 400; }
          body .wrapper footer .copyrights p:first-of-type {
            margin-bottom: 15px; }

@media only screen and (min-width: 960px) {
  body .wrapper .header {
    padding: 55px 0 395px 0; }
    body .wrapper .header .main-logo {
      float: left;
      width: 350px;
      margin: 0 0 20px 0; }
    body .wrapper .header .user-panel {
      width: 235px;
      float: right;
      right: 10px;
      margin-top: 48px;
      padding: 0; }
      body .wrapper .header .user-panel .login-icon {
        max-width: 90px;
        border: 10px solid rgba(255, 255, 255, 0.12); }
      body .wrapper .header .user-panel .button-login {
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 18px 30px 18px 0;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        left: 10px; }
    body .wrapper .header .menu-box {
      float: left;
      clear: both;
      margin: 17.5px 0 0 50px;
      line-height: 35px; }
      body .wrapper .header .menu-box h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: #ffffff;
        float: left;
        margin: 0; }
      body .wrapper .header .menu-box .mobile-menu-icon {
        float: left;
        margin: 0 0 0 30px; }
    body .wrapper .header .mobile-menu {
      padding: 0 25px; }
      body .wrapper .header .mobile-menu a {
        float: left; }
  body .wrapper aside {
    margin-top: -350px; }
    body .wrapper aside .slider .slider-post {
      height: 350px; }
      body .wrapper aside .slider .slider-post .slider-post-title-box {
        margin-bottom: 65px; }
        body .wrapper aside .slider .slider-post .slider-post-title-box .slider-post-title {
          font-size: 28px;
          font-weight: 700;
          padding: 50px 100px; }
    body .wrapper aside .slider .owl-dots {
      position: absolute;
      top: auto;
      bottom: 25px;
      left: 102px;
      margin: 36px 20px 0px 0px; }
      body .wrapper aside .slider .owl-dots .owl-dot {
        float: left;
        margin: 0 10px 0 0; }
    body .wrapper aside .slider .owl-nav {
      display: block; }
    body .wrapper aside .news-line {
      padding: 40px; }
      body .wrapper aside .news-line .hot-news-title {
        font-size: 18px;
        font-weight: 600; } }

/*# sourceMappingURL=main.css.map */
